
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div>
            <ul class="navbar-nav nav">
                <li class="active"><a href="{% url 'keeper:index' %}">Главная</a></li>
                <li><a href="{% url 'keeper:history' %}">История записей</a></li>
                <li><a href="{% url 'keeper:login' %}">Войти</a></li>
                <li><a href="{% url 'keeper:register' %}">Зарегистрироваться</a></li>
            </ul>
        </div>
    </div>
</nav>