
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'keeper:about' %}">Key Keeper</a>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active text-primary"><a class="nav-link" href="{% url 'keeper:index' %}">Главная</a></li>
            <li class="nav-item active text-primary"><a class="nav-link" href="{% url 'keeper:history' %}">История записей</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'keeper:card' %}">Использовать карту</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'keeper:login' %}">Войти</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'keeper:register' %}">Зарегистрироваться</a></li>
            <li class="nav-item active"><a class="nav-link" href="{% url 'keeper:logout' %}">Выйти</a></li>
        </ul>
    </div>
</nav>