<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
{% include "includes/nav_bar.html" %}
<div class="container-fluid">
    <h1>Key Keeper</h1>
    <h3>Как пользоваться:</h3>
    <p>1. Зарегистрируйтесь. На этом шаге рекомендуется воспользоваться помощью Власенко Михаила</p>
    <p>2. </p>
    <p>This application is made by Vlasenko Mikhail, IB student in Romanov school</p>
</div>
</body>
</html>