<!DOCTYPE html>
<html lang="en">
<head>
    <title>Взять ключ</title>
    {% include "includes/head.html" %}
</head>
<body>
    {% include "includes/nav_bar.html" %}
    <div class="container-fluid">
        <p class="text-info">Приложите свою карту к считывателю, наберите номер ключа и нажмите Enter</p>
        <form method="POST">
            {% csrf_token %}
            <label for="card">{{ form.card.label }} </label> <input type="text" id="card" name="card" required autofocus>
            <br>
            <label for="key_num">{{ form.key_num.label }} </label> <input type="number" id="key_num" name="key_num" required>
            <br>
            <input type="submit" value="Взять/Отдать" class="btn btn-outline-success">
        </form>
        {% if error %}
            <p>error</p>
        {% endif %}
        {% if action == "ВЗЯЛ" %}
        <p>Пользователь {{ user_name }} <font color="green">{{ action }}</font> ключ от кабинета №{{ key_num }}</p>
        {% endif %}
        {% if action == "ОТДАЛ" %}
        <p>Пользователь {{ user_name }} <font color="red">{{ action }}</font> ключ от кабинета №{{ key_num }}</p>
        {% endif %}
        <p>{{ message }}</p>
    </div>
</body>
</html>