<!DOCTYPE html>
<html lang="en">
<head>
    <title>Взять ключ</title>
    {% include "includes/head.html" %}
</head>
<body>
    {% include "includes/nav_bar.html" %}
    <div class="container-fluid">
        <form method="POST">
            {% csrf_token %}
            {{ form.card.label }} {{ form.card }}
            <br>
            {{ form.key_num.label }} {{ form.key_num }}
            <br>
            <input type="submit" value="Взять/Отдать" class="btn btn-outline-success">
        </form>
        {% if error %}
            <p>error</p>
        {% endif %}
        <p>{{ message }}</p>
    </div>
</body>
</html>