<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
{% include "includes/nav_bar.html" %}
<div class="container-fluid">
    <form method="POST">
        {% csrf_token %}
        {{ form.key_num.label }} {{ form.key_num }}
        {{ form.last_name.label }} {{ form.last_name }}
        <input type="submit" value="Искать" class="btn btn-outline-success">
    </form>
    {{message}}
    {% if hist_list %}
            <h3>Таблица записей ключей</h3>
            <table border="1">
            <tr>
                <th>Комната</th>
                <th>Пользователь</th>
                <th>Дата и время</th>
                <th>Ключ не сдан</th>
            </tr>
            {% for elem in hist_list %}
                <tr><td>{{ elem.key }}</td> <td>{{ elem.user_id.last_name }} {{ elem.user_id.first_name }}</td> <td>{{ elem.time_cr }}</td> <td>{{elem.active}}</td> </tr>
            {% endfor %}
            </table>
    {% else %}
        <p>No history yet</p>
    {% endif %}
</div>
</body>
</html>