<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Take a key</title>
</head>
<body>

    {% include "includes/nav_bar.html" %}

    U r logged as {{ user_id }}

    <form method="POST">
        {% csrf_token %}
        <br>
        {{ form.key_num.label }} {{ form.key_num }}
        <br>
        <input type="submit" value="Take">
    </form>
    {{ message }}
    {% if key_list %}
        <ul>
        {% for elem in key_list %}
            <li>{{ elem.key }}, {{ elem.time_cr }} </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No history yet</p>
    {% endif %}
    {% if error %}
        <p>error</p>
    {% endif %}

</body>
</html>