<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
{% include "includes/nav_bar.html" %}
<div class="container-fluid">
    <form method="POST">
        {% csrf_token %}
        {{ form.username.label }} {{ form.username }}
        <br>
        {{ form.password.label }} {{ form.password }}
        <br>
        {{ form.password2.label }} {{ form.password2 }}
        <br>
        {{ form.card_id.label }} {{ form.card_id }}
        <br>
        <input type="submit" value="Register" class="btn btn-outline-success">
    </form>
    {% if error %}
    <p>error</p>
    {% endif %}

    <ul>
        {% for user in users %}
            <li>{{user}}</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>