<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
{% include "includes/nav_bar.html" %}
    <div class="container-fluid">
        <p class="text-info">Вы зарегистрированны как {{ user_id }}</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.username.label }} {{ form.username }}
            <br>
            {{ form.key_num.label }} {{ form.key_num }}
            <br>
            <input type="submit" value="Передать" class="btn btn-outline-success">
        </form>
        <p>{{ message }}</p>
        {% if key_list %}
            <p>Your keys:</p>
            <table border="1">
            <tr>
                <th>Комната</th>
                <th>Дата и время</th>
            </tr>
            {% for elem in key_list %}
                <tr><td>{{ elem.key }}</td> <td>{{ elem.time_cr }}</td></tr>
            {% endfor %}
            </table>
        {% else %}
            <p>На вас не записано ни одного ключа</p>
        {% endif %}
        {% if error %}
            <p>error</p>
        {% endif %}
    </div>
</body>
</html>