<!DOCTYPE html>
<html lang="en">
<head>
    <title>Key Keeper</title>
    {% include "includes/head.html" %}
</head>
<body>
    {% include "includes/nav_bar.html" %}
    <div class="container-fluid">
        <a class="navbar-brand" href="https://romanovkey.ru/docs/_build/html/overview.html#id6"><u>Как пользоваться</u></a>
        <p class="text-info">Вы зарегистрированны как <strong>{{ user_id }}</strong></p>
        <p class="text-info">Ваше имя пользователя <strong>{{ user_name }}</strong></p>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.username.label }} {{ form.username }}
            <br>
            {{ form.key_num.label }} {{ form.key_num }}
            <br>
            <input type="submit" value="Передать" class="btn btn-outline-success" name="transfer_req">
        </form>
        <p>{{ message }}</p>

        {% if key_receive %}
            <p> Пользователь {{ user_receive }} запрашивает разрешение на передачу Вам ключа от кабинета №{{ key_receive }}</p>
            <form action="" method="POST">
                {% csrf_token %}
                <input class="btn-outline-success btn" type="submit" name="accept" value="Взять" />
                <input class="btn-outline-danger btn" type="submit" name="reject" value="Не брать" />
            </form>
        {% endif %}

        {% if key_list %}
            <h5 class="text-info">Ваши ключи:</h5>
            <table border="1">
            <tr>
                <th>Комната</th>
                <th>Время взятия</th>
            </tr>
            {% for elem in key_list %}
                <tr><td>{{ elem.key }}</td>
                    <td>{{ elem.month_cr }}.{{ elem.date_cr }}, {{ elem.hour_cr }}:{{ elem.minute_cr }}</td></tr>
            {% endfor %}
            </table>
        {% else %}
            <p>На Вас не записано ни одного ключа</p>
        {% endif %}
        {% if error %}
            <p>error</p>
        {% endif %}
    </div>
</body>
</html>