<!DOCTYPE html>
<html lang="en">
<head>

    <title>Transfer</title>
    {% include "includes/head.html" %}
</head>
<body>
{% include "includes/nav_bar.html" %}
    <div class="container-fluid">
        <p class="text-info">Вы зарегистрированны как {{ user_id }}</p>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.username.label }} {{ form.username }}
            <br>
            {{ form.key_num.label }} {{ form.key_num }}
            <br>
            <input type="submit" value="Передать" class="btn btn-outline-success" name="transfer_req">
        </form>
        <p>{{ message }}</p>

        {% if key_receive %}
            <p> Пользователь {{ user_receive }} запрашивает разрешение на передачу вам ключа от кабинета №{{ key_receive }}</p>
            <form action="" method="POST">
                {% csrf_token %}
                <input class="btn-outline-success btn" type="submit" name="accept" value="Взять" />
                <input class="btn-outline-success btn" type="submit" name="reject" value="Не брать" />
            </form>
        {% endif %}

        {% if key_list %}
            <p>Ваши ключи:</p>
            <table border="1">
            <tr>
                <th>Комната</th>
                <th>Дата и время</th>
            </tr>
            {% for elem in key_list %}
                <tr><td>{{ elem.key }}</td> <td>{{ elem.time_cr }}</td></tr>
            {% endfor %}
            </table>
        {% else %}
            <p>На вас не записано ни одного ключа</p>
        {% endif %}
        {% if error %}
            <p>error</p>
        {% endif %}
    </div>
<script>
    take_btn.onclick = function eat() {

    }

    reject_btn.onclick = function eat() {
        document.getElementById("hp").innerHTML = Number(document.getElementById("hp").innerHTML) + 4;
    }
</script>
</body>
</html>